*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:
"Yu Gothic",
"Meiryo",
sans-serif;

}


body{

background:#0f0f10;

color:white;

display:flex;

flex-direction:column;

align-items:center;

padding:25px;

min-height:100vh;

}



h1{

font-size:40px;

letter-spacing:4px;

margin-bottom:25px;

}



#daySelect{

background:#1b1b1d;

padding:15px 25px;

border-radius:15px;

display:flex;

gap:25px;

margin-bottom:20px;

}



button{

width:340px;

max-width:90vw;

padding:17px;

border:none;

border-radius:14px;

font-size:18px;

font-weight:bold;

cursor:pointer;

}



#startBtn{

background:white;

color:black;

}



#scannerBox{

display:none;

width:340px;

max-width:90vw;

aspect-ratio:1;

margin-top:20px;

overflow:hidden;

border-radius:18px;

background:black;

}



#reader{

width:100%;

height:100%;

}



#reader video{

width:100%!important;

height:100%!important;

object-fit:cover;

}





#result{

width:340px;

max-width:90vw;

background:#1b1b1d;

border-radius:15px;

padding:20px;

margin-top:20px;

text-align:center;

font-size:22px;

line-height:1.8;

}



#actions{

display:none;

width:340px;

max-width:90vw;

margin-top:15px;

}



#action1{

background:#00c853;

color:white;

}



#action2{

background:#ff9800;

color:white;

}



#cancelBtn{

background:#f44336;

color:white;

margin-top:10px;

}



#retryBtn{

display:none;

background:#2196f3;

color:white;

margin-top:15px;

}